<div class="">
  <h3 style="float: left;"> Welcome to Dashboard </h3>
  <button type="button" class="btn btn-primary" style="width:200px;margin: 1%;padding: 5px; float: right;"
    (click)="addNewSlot()">Appointment</button>

  <div style="float: right;margin-right: 5%;margin-top: 1%;">

    <label>
      Date
      <input [owlDateTimeTrigger]="dt3" [(ngModel)]="selectedMoment" (ngModelChange)="dataLoad(selectedMoment)"
        [owlDateTime]="dt3">
      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
    </label>
    <owl-date-time #dt1></owl-date-time>
  </div>

</div>


<br>



<div style="position: relative;margin-top: 5%;">

  <ngx-datatable class="material" [rows]="rows" [headerHeight]="50" [footerHeight]="50" [rowHeight]="40"
    [scrollbarV]="true" (page)="onPage($event)">
    <ngx-datatable-column name="PATIENT" [width]="300">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

        <strong>{{ row.client_name }}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="CONTACT" [width]="300">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <strong>{{ row.client_Mobile }}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="APPOINTMENT" [width]="300">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.start_time  | amLocal | amDateFormat: ' HH:mm'}}
      </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-column name="STATUS" [width]="300">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row.consulted_status }}
      </ng-template>

    </ngx-datatable-column>


  </ngx-datatable>
</div>

<!-- <div style="position: relative;margin-top: 5%;">
  <ngx-datatable  class="material"   [headerHeight]="50"
  [footerHeight]="50"   [scrollbarV]="true"  [rowHeight]="40"
  [rows]="rows" [columns]="columns"> </ngx-datatable>
</div> -->